
.formInput{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;

    .form-error{
        color: red;
    }

    .btn{
        margin: 10%;
    }

    .input{
        width: 40%;
    }
}